* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  margin: 0 0 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  height: 108px;
}

.buttondisplay {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
button {
  height: 30px;
  width: 120px;
  margin: 0 20px;
}

.size {
  height: 350px;
  width: 230px;
  /* margin: 0 30px; */
}

.fleximages {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 400px;
}

.margindiv {
  margin: 20px 0;
  text-align: end;
  width: 230px;
}

.bannersize {
  height: 455px;
  background-position: 50%;
  background-size: cover;
  height: 455px;
  position: relative;
  width: 100%;
  object-fit: cover;
}

.flexposition {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexproduct {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40px;
  gap: 10px;
}
